<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mod.loan.mapper.OrderUserMapper">
    <resultMap id="BaseResultMap" type="com.mod.loan.model.OrderUser">
        <result column="id" jdbcType="BIGINT" property="id"/>
        <result column="order_no" jdbcType="VARCHAR" property="orderNo"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="source" jdbcType="INTEGER" property="source"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>

    <select id="selectByOrderNoAndSource" resultMap="BaseResultMap">
        select * from tb_order_user where order_no=#{orderNo} and source=#{source} limit 1
    </select>
</mapper>